<h1>Course Info</h1>

<hr/>

<form #courseForm="ngForm" *ngIf="course">
    <div class="form-group row">
        <label class="col-sm-2 col-from-label">Name:</label>
        
        <div class="col-sm-10">
            <input [(ngModel)]="course.name" required="true" name="name" #courseName="ngModel" [ngClass]="{'is-invalid': courseName.invalid}" class="form-control">
            
            <div class="invalid-feedback">
              <span>Course name is required</span> 
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-from-label">Price:</label>
        
        <div class="col-sm-10">
            <input [(ngModel)]="course.price" required="true" name="price" #coursePrice="ngModel" type="number" [ngClass]="{'is-invalid': coursePrice.invalid}" class="form-control">
            
            <div class="invalid-feedback">
              <span>Course Price is required</span> 
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-from-label">Rating:</label>
        
        <div class="col-sm-10">
            <input [(ngModel)]="course.rating" required="true" name="rating" #courseRating="ngModel" type="number" [ngClass]="{'is-invalid': courseRating.invalid}" class="form-control">
            
            <div class="invalid-feedback">
              <span>Course Rating is required</span> 
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-from-label">Description:</label>
        
        <div class="col-sm-10">
            <textarea [(ngModel)]="course.description" required="true" name="description" #courseDescription="ngModel" 
                        [ngClass]="{'is-invalid': courseDescription.invalid}" class="form-control">
            </textarea>    
            
            <div class="invalid-feedback">
              <span>Course Description is required</span> 
            </div>
        </div>
    </div>

    <button [disabled]="courseForm.invalid" (click)="save()" class="btn btn-primary mr-2">Save</button>
    <button [routerLink]="['/courses']" class="btn btn-secondary">Back</button>
</form>